@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  font-family: "Roboto", sans-serif;

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.flex {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-child {
  padding: 1rem;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

span {
  color: #1260cc;
}

button:hover {
  box-shadow: none;
}

.flex-child > button {
  padding: 1rem;
  border-radius: 10px;
  margin: 10px;
}

input {
  padding: 10px;
  border-radius: 10px;
}

input:focus {
  outline: 0;
  border: 0;
}

.textcenter {
  text-align: center;
}

.text {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
